apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: monitoring

resources:
  # kube-prometheus setup (CRDs and operator)
  - github.com/prometheus-operator/kube-prometheus/manifests/setup?ref=v0.14.0
  # kube-prometheus main manifests
  - github.com/prometheus-operator/kube-prometheus/manifests?ref=v0.14.0
  # Local HTTPRoutes
  - httproutes.yaml

labels:
  - pairs:
      app.kubernetes.io/part-of: kube-prometheus
    includeSelectors: false
